{% extends "layout.html" %}
 
{% block content %}
  <h2>Search results</h2>
 <table class="flat-table">
  <tbody>
	      <tr>
      <th>Site</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
  {% for item in outlist %}
    <tr>
		<td><img src="{{ item['site'] }}"</img></td>
		<td><a href="{{ item['link'] }}">{{ item['desc'] }}</a></td>
		<td>Price: {{ item['cost'] }}</td>
		<td><img src="{{ item['img'] }}" width="150" </img></td>
    </tr>
  {% endfor %}
  </tbody>
 </table>

{% endblock %}
